
/*############################# Mobile S/M/L size ##############################################*/
@media (max-width: 424px){

    .about_me_container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 90%;
        height: max-content;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        }
        
        .about_me_container h2{
            text-align: justify;
            padding: 0 10px;
        }
        
        .about_me_container p{
            text-align: justify;
            padding: 0 10px;
        }
        
        
        
        .about_me_container img{
            height: 250px;
            width: 200px;
            object-fit: cover;
            border: 2px solid var(--secondary-color);
            box-shadow: 0 0 1px 0px grey;
            border-radius: 20px;
            background-color: var(--texture-color);
        }
        
        .about_me_content{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        
        
        
        .detail_container{
            display: flex;
            flex-direction: row;
            gap: 15px;
            margin-bottom: 20px;
            justify-content: center;
            padding: 0 10px;
        }
        
        
        .detail_container button{
            color: var(--secondary-color);
            background-color: transparent;
            border: transparent;
            cursor: pointer;
            text-decoration: underline 2px transparent;
            transition: 0.5s;
            font-size: 15px;
            
        }
        
        
        
        .detail_container button:hover{
            text-decoration: underline 2px var(--secondary-color);
            transition: 0.5s;
        }
        
        .detail_container .active{
            text-decoration: underline 2px var(--secondary-color);
        }
        
        .detail_content{
            box-shadow: 0 0 5px 0 grey;
            border-radius: 10px;
            padding: 10px;
            background-color: var(--texture-color);
            font-size: 9px;
        
        }
        
        .detail_content .detail_head{
            color: var(--secondary-color);
            font-family: sans-serif;
        }

}


  /*############################# Tablet size ##############################################*/
@media (min-width: 425px) and (max-width: 768px){

    .about_me_container{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 90%;
        height: max-content;
        margin-bottom: 50px;
        justify-content: center;
        align-items: center;
        }
        
        .about_me_container h2{
            text-align: justify;
            padding: 0 10px;
        }
        
        .about_me_container p{
            text-align: justify;
            padding: 0 10px;
        }
        
        
        
        .about_me_container img{
            height: 250px;
            width: 200px;
            object-fit: cover;
            border: 2px solid var(--secondary-color);
            box-shadow: 0 0 1px 0px grey;
            border-radius: 20px;
            background-color: var(--texture-color);
        }
        
        .about_me_content{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        
        
        
        .detail_container{
            display: flex;
            flex-direction: row;
            gap: 15px;
            margin-bottom: 20px;
            justify-content: center;
            padding: 0 10px;
        }
        
        
        .detail_container button{
            color: var(--secondary-color);
            background-color: transparent;
            border: transparent;
            cursor: pointer;
            text-decoration: underline 2px transparent;
            transition: 0.5s;
            font-size: 15px;
            
        }
        
        
        
        .detail_container button:hover{
            text-decoration: underline 2px var(--secondary-color);
            transition: 0.5s;
        }
        
        .detail_container .active{
            text-decoration: underline 2px var(--secondary-color);
        }
        
        .detail_content{
            box-shadow: 0 0 5px 0 grey;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--texture-color);
            font-size: 11px;
        
        }
        
        .detail_content .detail_head{
            color: var(--secondary-color);
            font-family: sans-serif;
        }

}


  /*############################# Laptop ##############################################*/
@media (min-width: 769px) and (max-width: 1920px){

    .about_me_container{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 90%;
        height: max-content;
        margin-bottom: 50px;
        /* background-color: lightgreen; */
        }
        
        
        .about_me_container p{
            text-align: justify;
        }
        
        
        
        .about_me_container img{
            height: 200px;
            width: 150px;
            object-fit: cover;
            border: 2px solid var(--secondary-color);
            box-shadow: 0 0 1px 0px grey;
            border-radius: 20px;
            background-color: var(--texture-color);
        }
        
        .about_me_content{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
        
        
        
        .detail_container{
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin-bottom: 20px;
        }
        
        
        .detail_container button{
            color: var(--secondary-color);
            background-color: transparent;
            border: transparent;
            cursor: pointer;
            text-decoration: underline 2px transparent;
            transition: 0.5s;
            font-size: 15px;
        }
        
        
        
        .detail_container button:hover{
            text-decoration: underline 2px var(--secondary-color);
            transition: 0.5s;
        }
        
        .detail_container .active{
            text-decoration: underline 2px var(--secondary-color);
        }
        
        .detail_content{
            box-shadow: 0 0 5px 0 grey;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--texture-color);
        
        }
        
        .detail_content .detail_head{
            color: var(--secondary-color);
            font-family: sans-serif;
        }
}


  /*############################# 4K Laptop ##############################################*/

  @media (min-width: 1921px){


    .about_me_container{
        display: flex;
        flex-direction: row;
        gap: 20px;
        width: 90%;
        height: max-content;
        margin-bottom: 50px;
        /* background-color: lightgreen; */
        }
        
        
        .about_me_container p{
            text-align: justify;
        }
        
        
        
        .about_me_container img{
            height: 400px;
            width: 350px;
            object-fit: cover;
            border: 4px solid var(--secondary-color);
            box-shadow: 0 0 1px 0px grey;
            border-radius: 20px;
            background-color: var(--texture-color);
        }
        
        .about_me_content{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        .about_me_content h2{
            font-size: 60px;
        }

        .about_me_content p{
            font-size: 30px;
        }
        
        
        
        
        .detail_container{
            display: flex;
            flex-direction: row;
            gap: 20px;
            margin-bottom: 40px;
        }
        
        
        .detail_container button{
            color: var(--secondary-color);
            background-color: transparent;
            border: transparent;
            cursor: pointer;
            text-decoration: underline 2px transparent;
            transition: 0.5s;
            font-size: 30px;
        }
        
        
        
        .detail_container button:hover{
            text-decoration: underline 3px var(--secondary-color);
            transition: 0.5s;
        }
        
        .detail_container .active{
            text-decoration: underline 3px var(--secondary-color);
        }
        
        .detail_content{
            box-shadow: 0 0 5px 0 grey;
            border-radius: 10px;
            padding: 20px;
            background-color: var(--texture-color);
        
        }
        
        .detail_content .detail_head{
            color: var(--secondary-color);
            font-family: sans-serif;
        }

  }